<!DOCTYPE html>
<html lang="en">
  <!-- ======= Head ======= -->
  {{ partial "head.html" . }}
  <!-- End Head -->

  <body>
    {{ partial "header.html" . }}

    <!-- ======= Hero Section ======= -->
    <section
      id="hero-inner"
      class="d-flex justify-content-center align-items-center"
    >
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="row justify-content-center">
          <div class="col-md-9">
            <h2>
              THE ROUTE TO A SAFE, MANAGEABLE AND EFFICIENT WORKING ENVIRONMENT
            </h2>
            <p>With Teams, SharePoint and Microsoft 365</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Zekerheid Section ======= -->
      <section class="zekerheid">
        <div class="container" data-aos="fade-up">
          <div
            class="row align-items-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-5">
              <img
                src="/assets/img/ontwerp-zonder-titel-46-1536x1086.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-7">
              <h2>
                “Een veilige, beheersbare en efficiënte digitale werkomgeving
                met Microsoft 365, waar je medewerkers blij van worden en
                blijven!”
              </h2>
              <p>
                Dit doen wij door de de mens in de organisatie centraal te
                zetten, een heldere en eenduidige governance te bepalen en de
                techniek op een duurzame en veilige manier in te richten.
                <br /><br />
                Samen met de organisatie bepalen we hoe het gewenste
                toekomstbeeld er uit moet komen te zien en welke oplossingen
                hier aan zullen bijdragen.
                <br /><br />

                Vanuit hier start de KbRoadtrip naar een veilige, beheersbare en
                efficiënte (digitale) werkomgeving waar je medewerkers blij van
                worden en blijven!
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Zekerheid Section -->
      <!-- ======= Wij zorgen Section ======= -->
      <section class="wij-zorgen">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-lg-12 pt-4 pt-lg-0 content">
              <h2>Wij zorgen voor...</h2>
              <h5>Een greep van resultaten waar wij naar streven</h5>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-4">
              <label>
                <input type="checkbox" />
                <div class="flip-card">
                  <div class="front">
                    <img src="/assets/img/iconentotaalwit-05.png" alt="" />
                    <h2>
                      Slimmer <br />
                      (hybride) <br />
                      samenwerken
                    </h2>
                    <p>
                      We werken niet meer op één locatie. Hybride werken is de
                      toekomst. Dat vraagt om aanpassing!
                    </p>
                  </div>
                  <div class="back">
                    <h5>Slimmer 'hybride' samenwerken met Microsoft 365</h5>
                    <p>
                      Samenwerken gaat tegenwoordig anders dan we zijn gewent.
                      We werken niet meer op één locatie. <br />
                      We hebben nu te maken met collega’s die werken vanaf
                      verschillende locaties. We hebben te maken met een hybride
                      vorm van samenwerken...<br />
                    </p>
                  </div>
                </div>
              </label>
              <div class="pink-btn text-center mt-5">
                <a href="/slimmer-samenwerken-met-microsoft-365/"
                  >Bekijk meer</a
                >
              </div>
            </div>

            <div class="col-md-4">
              <label>
                <input type="checkbox" />
                <div class="flip-card">
                  <div class="front">
                    <img src="/assets/img/surf1.png" alt="" />
                    <h2>Veilig <br />werken <br />(security)</h2>
                    <p>
                      Alles wordt steeds digitaler. Overal werken vanaf elk
                      device. Veilig werken is belangrijker dan ooit!
                    </p>
                  </div>
                  <div class="back">
                    <h5>Veilig werken met Microsoft 365</h5>
                    <p>
                      Veilig (samen-)werken is niet vanzelfsprekend: gegevens
                      van klanten liggen zomaar op straat, documenten komen bij
                      de verkeerde mensen terecht, een extern persoon heeft
                      toegang tot gevoelige documenten... <br /><br />Kortom
                      gevaar ligt op de loer, helemaal nu we steeds meer online
                      werken. De meeste datalekken ontstaan door ...
                    </p>
                  </div>
                </div>
              </label>
              <div class="pink-btn text-center mt-5">
                <a href="/veilig-werken-met-microsoft-365/">Bekijk meer</a>
              </div>
            </div>

            <div class="col-md-4">
              <label>
                <input type="checkbox" />
                <div class="flip-card">
                  <div class="front">
                    <img src="/assets/img/iconentotaalwit-06.png" alt="" />
                    <h2>Één modern <br />intranet</h2>
                    <p>
                      Verbinding, interactie en kennisdeling binnen de
                      organisatie!
                    </p>
                  </div>
                  <div class="back">
                    <h5>Één modern intranet</h5>
                    <p>
                      Voorheen werd een intranet voornamelijk gebruikt voor het
                      zenden en delen van organisatie brede informatie en
                      ‘nieuwsberichten’. Eenrichtingsverkeer van de organisatie
                      naar de medewerkers. <br /><br />
                      Met de komst van de moderne werkplek zien we steeds meer
                      de behoefte om een intranet in te zetten als start/kern
                      van de moderne werkplek met een focus op
                      informatiebehoefte. Een socialer intranet waar interactie
                      is tussen medewerkers. Ook hoeft het niet langer een
                      ingewikkelde...

                      <br />
                    </p>
                  </div>
                </div>
              </label>
              <div class="pink-btn text-center mt-5">
                <a href="/microsoft-intranet/">Bekijk meer</a>
              </div>
            </div>

            <div class="col-md-4 mt-5">
              <label>
                <input type="checkbox" />
                <div class="flip-card">
                  <div class="front">
                    <img src="/assets/img/surf-3-e1629286559153.png" alt="" />
                    <h2>Document <br />Management <br />Systeem</h2>
                    <p>
                      Alle documenten in één systeem. Snel, veilig en makkelijk
                      vindbaar!
                    </p>
                  </div>
                  <div class="back">
                    <h5>Document Management Systeem</h5>
                    <p>
                      Documenten zijn onvindbaar en worden op verkeerde plekken
                      opgeslagen. Het resultaat: er zijn diverse versies in
                      omloop en documenten worden buiten de beveiligde omgeving
                      gedeeld (WeTransfer, privé-mail, etc). <br /><br />

                      Een goed DMS zorgt voor een 'digitale opslagplaats' waarin
                      documenten en beschrijvende metadata makkelijk zijn terug
                      te vinden op kenmerken zoals auteursnaam, categorieën,
                      omschrijving en/of datum. Je kunt een DMS beveiligen naar
                      wens door bijvoorbeeld...
                    </p>
                  </div>
                </div>
              </label>
              <div class="pink-btn text-center mt-5">
                <a href="/microsoft-dms/">Bekijk meer</a>
              </div>
            </div>

            <div class="col-md-4 mt-5">
              <label>
                <input type="checkbox" />
                <div class="flip-card">
                  <div class="front">
                    <img src="/assets/img/surf2.png" alt="" />
                    <h2>Migratie</h2>
                    <p>
                      Alle bestanden staan vanaf nu in de Microsoft 365
                      werkomgeving!
                    </p>
                  </div>
                  <div class="back">
                    <h5>Document Management Systeem</h5>
                    <p>
                      Documenten zijn onvindbaar en worden op verkeerde plekken
                      opgeslagen. Het resultaat: er zijn diverse versies in
                      omloop en documenten worden buiten de beveiligde omgeving
                      gedeeld (WeTransfer, privé-mail, etc). <br /><br />

                      Een goed DMS zorgt voor een 'digitale opslagplaats' waarin
                      documenten en beschrijvende metadata makkelijk zijn terug
                      te vinden op kenmerken zoals auteursnaam, categorieën,
                      omschrijving en/of datum. Je kunt een DMS beveiligen naar
                      wens door bijvoorbeeld...
                    </p>
                  </div>
                </div>
              </label>
              <div class="pink-btn text-center mt-5">
                <a href="/migratie-naar-microsoft-365/">Bekijk meer</a>
              </div>
            </div>

            <div class="col-md-4 mt-5">
              <label>
                <input type="checkbox" />
                <div class="flip-card">
                  <div class="front">
                    <img src="/assets/img/iconentotaalwit-05.png" alt="" />
                    <h2>Automatiseren van processen</h2>
                    <p>
                      Zet terugkerende en tijdrovende processen om in
                      geautomatiseerde werkstromen!
                    </p>
                  </div>
                  <div class="back">
                    <h5>
                      Processen automatiseren met Microsoft 365 (PowerPlatform)
                    </h5>
                    <p>
                      Iedereen kent ze wel: herhalende taken die gedaan moeten
                      worden, maar waar niemand blij van wordt en die veel
                      energie kosten. Denk aan het reserveren van werkplekken,
                      aanvragen van IT- en andere bedrijfsmiddelen, etc. Zonde
                      van alle waardevolle tijd.
                      <br />
                      <br />
                      Zet terugkerende en tijdrovende processen en taken om in
                      geautomatiseerde werkstromen met behulp van het Power
                      Platform.
                    </p>
                  </div>
                </div>
              </label>
              <div class="pink-btn text-center mt-5">
                <a href="/processen-verbeteren-met-microsoft-365/"
                  >Bekijk meer</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Wij zorgen Section -->

      <!-- ======= De Roadtrip Section ======= -->
      <section class="de-roadmap">
        <div class="container" data-aos="fade-up">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-9">
              <h2 class="text-center">Onze aanpak</h2>
              <h5 class="text-center">The Roadtrip</h5>
              <p class="text-center">
                Om het traject flexibel en efficiënt te houden werken we in
                kleine afgekaderde flows. Onze aanpak is meetbaar, efficiënt en
                duurzaam. <br /><br />

                Afhankelijk van de Cloud oplossing of het project, doorlopen we
                4 fases. De doorlooptijd kan variëren van 2 weken tot maanden.
                Dit is afhankelijk van het gewenste eindresultaat en de impact
                in de organisatie. <br /><br />

                Daarnaast krijg je een gratis dosis creativiteit, avontuur en
                plezier erbij. Want dat is waar wij voor staan 🙂
              </p>
            </div>
          </div>
          <div class="row mt-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="road-box">
                <img
                  src="/assets/img/fase1-1536x1519.png"
                  alt=""
                  class="img-fluid"
                />
                <h4>1. Boost</h4>
                <h5>Discover</h5>
                <p>Zijn wij een match?</p>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="road-box">
                <img
                  src="/assets/img/fase2-1289x1536.png"
                  alt=""
                  class="img-fluid"
                />
                <h4>2. Peak</h4>
                <h5>Design</h5>
                <p>Klaar voor de start</p>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="road-box">
                <img
                  src="/assets/img/fase3-1436x1536.png"
                  alt=""
                  class="img-fluid"
                />
                <h4>3. Project</h4>
                <h5>Build & Deploy</h5>
                <p>Realisatie</p>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="road-box">
                <img
                  src="/assets/img/fase4-1536x1430.png"
                  alt=""
                  class="img-fluid"
                />
                <h4>4. Jacking up</h4>
                <h5>Completion</h5>
                <p>Klaar voor gebruik</p>
              </div>
            </div>
            <div class="pink-btn text-center mt-5">
              <a href="/aanbod/">BEKIJK ONS AANBOD</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End De Roadtrip Section -->

      <!-- ======= Client Section ======= -->
      <section class="client">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-md-12">
              <img src="/assets/img/logos-1.png" alt="" class="img-fluid" />
              <img
                src="/assets/img/Logo-rij-2.png"
                alt=""
                class="img-fluid mt-3"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Client Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
