<!DOCTYPE html>
<html lang="en">
  <!-- ======= Head ======= -->
  {{ partial "head.html" . }}
  <!-- End Head -->

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header-2.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section
      id="hero2"
      class="d-flex align-items-center justify-content-center"
    >
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9 text-center">
            <h1><strong>Dit wil je niet missen</strong></h1>
            <h2>
              Loop niet achter de feiten aan, maar blijf voorop lopen. Bespaar
              tijd en krijg als eerste informatie over de nieuwste
              ontwikkelingen binnen Microsoft 365.
            </h2>
            <div class="btn mb-3 mt-5">
              <a
                href="https://www.linkedin.com/newsletters/tips-rondom-microsoft365-6900855304196628480/"
                target="_blank"
                >Blijf Voorop lopen
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
