<!DOCTYPE html>
<html lang="en">
  <!-- ======= Head ======= -->
  {{ partial "head.html" . }}
  <!-- End Head -->

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="row">
          <div class="col-md-9">
            <h1>
              20% tijdbesparing,<br />
              50% minder zorgen
            </h1>
            <h2>
              Wij helpen missievolle internationale organisaties om <br />
              Teams, SharePoint en Microsoft 365 blijvend slimmer te <br />
              gebruiken
            </h2>
            <a href="#bespaar-tijd" class="btn-get-started">Bespaar tijd</a>
          </div>
          <div class="col-md-3 d-flex align-items-end justify-content-end">
            <div class="hero-img">
              <img
                src="/assets/img/microsoft-partner-prosci-1.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Waarom Section ======= -->
      <section class="waarom">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h2>Waarom?</h2>
              <h2><span>Omdat tijd niet te koop is.</span></h2>
            </div>
            <div class="col-lg-3" data-aos="fade-left" data-aos-delay="100">
              <img
                src="/assets/img/hangloose-visualgeentekst.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Waarom Section -->

      <!-- ======= icon-box Section ======= -->
      <section class="icon-box">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-md-12 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <img src="/assets/img/3th-wave.png" alt="" />
                      <h4>Korte trajecten</h4>
                      <p>
                        Wij werken met kleine gekaderde flows, zodat projecten
                        kort en krachtig zijn. Geen eindeloze uitzichtloze
                        trajecten met onduidelijke budgetten.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <img src="/assets/img/2nd-wave.png" alt="" />
                      <h4>Veilig & flexibel</h4>
                      <p>
                        ENa de eerste sessie niet overtuigd van onze aanpak en
                        competentie? Dan stopt onze samenwerking kosteloos. Wij
                        gaan voor klanten die fan zijn.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <img src="/assets/img/1st-wave.png" alt="" />
                      <h4>Snel resultaat</h4>
                      <p>
                        Wij werken pragmatisch, met korte communicatielijnen en
                        betrekken de juiste mensen bij de juiste projecten.
                        Zodra de opdracht helder is, gaan wij aan de slag. Snel
                        resultaat is wat wij willen.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .content-->
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Us Section -->

      <!-- ======= Microsoft 365 Section ======= -->
      <section class="microsoft">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>
              Zorgen over de inrichting en gebruik van Teams en Microsoft 365?
            </h2>
          </div>
          <div
            class="row align-items-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-4">
              <div class="icon-box">
                <img src="/assets/img/1.png" alt="" />
                <h3>
                  Risico’s door verkeerde instellingen. Hoe zorg ik voor een
                  veilig beleid?
                </h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box">
                <img src="/assets/img/2.png" alt="" />
                <h3>
                  Inefficiënt gebruik door onwetendheid van medewerkers. Hoe
                  zorg ik ervoor dat het systeem voor ons werkt, in plaats van
                  tegen ons?
                </h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box">
                <img src="/assets/img/3.png" alt="" />
                <h3>Chaos in Teams. Hoe krijg ik het beheersbaar?</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Microsoft 365 Section -->

      <!-- ======= Zekerheid Section ======= -->
      <section class="zekerheid">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-9">
              <h2>100% zekerheid over je keuzes</h2>
              <p>
                Elke organisatie is anders. Toch zijn er heldere strategische
                keuzes die altijd gemaakt moeten worden als je de belangen van
                verschillende stakeholders en afdelingen wilt behartigen.
                <br /><br />

                Als je die keuzes op het juiste niveau eenmaal hebt gemaakt, kun
                je beleid ontwikkelen dat je eenvoudig kunt bewaken en die voor
                iedereen binnen de organisatie werkbaar is.
              </p>
              <h5>Het beleid wordt veilig, beheersbaar en efficiënt.</h5>
              <p>
                Dit doen wij door de mens in de organisatie centraal te zetten,
                een heldere en eenduidige governance te bepalen en de techniek
                op een duurzame en veilige manier in te richten.
                <br /><br />
                Samen met de organisatie bepalen we hoe het gewenste
                toekomstbeeld er uit moet komen te zien en hoe de tools van
                hierbij kunnen helpen.
                <br /><br />
                Vanuit hier start de roadtrip naar een veilige, beheersbare en
                efficiënte (digitale) werkomgeving waar je medewerkers blij van
                worden en blijven!
                <br /><br />
                We weten niet hoe dat in jouw organisatie is, maar bij ons is
                werken pas echt KbProof als er ook gelachen wordt 😉
              </p>
              <div class="pink-btn text-center">
                <a href="/aanbod/">BEKIJK ONS AANBOD</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Zekerheid Section -->

      <!-- ======= Oorganization Section ======= -->
      <section class="organization">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-12">
              <h2>
                "Als organisatie wil je een blijvend veilige, beheersbare en
                efficiënte werkomgeving, waar je medewerkers blij van worden en
                blijven"
              </h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End Oorganization Section -->

      <!-- ======= Roadtrip Section ======= -->
      <section class="roadtrip">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100"></div>
        </div>
      </section>
      <!-- End Roadtrip Section -->

      <!-- ======= De Roadtrip Section ======= -->
      <section class="de-roadmap">
        <div class="container" data-aos="fade-up">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-9">
              <h2 class="text-center">De Roadtrip</h2>
              <h5 class="text-center">
                "Catch the right wave to get the flow"
              </h5>
              <p class="text-center">
                Om het traject flexibel en efficiënt te houden werken we in
                kleine afgekaderde flows. Onze aanpak is meetbaar, efficiënt en
                duurzaam. <br /><br />

                Afhankelijk van de Cloud oplossing of het project, doorlopen we
                4 fases. De doorlooptijd kan variëren van 2 weken tot maanden.
                Dit is afhankelijk van het gewenste eindresultaat en de impact
                in de organisatie. <br /><br />

                Daarnaast krijg je een gratis dosis creativiteit, avontuur en
                plezier erbij. Want dat is waar wij voor staan 🙂
              </p>
            </div>
          </div>
          <div class="row mt-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="road-box">
                <img
                  src="/assets/img/fase1-1536x1519.png"
                  alt=""
                  class="img-fluid"
                />
                <h4>1. Boost</h4>
                <h5>Discover</h5>
                <p>Zijn wij een match?</p>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="road-box">
                <img
                  src="/assets/img/fase2-1289x1536.png"
                  alt=""
                  class="img-fluid"
                />
                <h4>2. Peak</h4>
                <h5>Design</h5>
                <p>Klaar voor de start</p>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="road-box">
                <img
                  src="/assets/img/fase3-1436x1536.png"
                  alt=""
                  class="img-fluid"
                />
                <h4>3. Project</h4>
                <h5>Build & Deploy</h5>
                <p>Realisatie</p>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="road-box">
                <img
                  src="/assets/img/fase4-1536x1430.png"
                  alt=""
                  class="img-fluid"
                />
                <h4>4. Jacking up</h4>
                <h5>Completion</h5>
                <p>Klaar voor gebruik</p>
              </div>
            </div>
            <div class="pink-btn text-center mt-5">
              <a href="/aanbod/">BEKIJK ONS AANBOD</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End De Roadtrip Section -->

      <!-- ======= Client Section ======= -->
      <section class="client">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-md-12">
              <img src="/assets/img/logos-1.png" alt="" class="img-fluid" />
              <img
                src="/assets/img/Logo-rij-2.png"
                alt=""
                class="img-fluid mt-3"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Client Section -->

      <!-- ======= Our mission Section ======= -->
      <section class="client">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h2>More time for fun</h2>
              <p>
                Tijd is waardevol. Daarom gaan wij voor 20% tijdbesparing. Door
                technologie <br />slim in te zetten én te gebruiken is dat
                precies wat je krijgt. <br /><br />

                Wij zien technologie als middel en de business als doel.<br />
                Efficiëntie. Blije medewerkers. En meer winst.
                <br /><br />

                We werken met missievolle (internationale) organisaties die
                impact willen<br />
                maken om de wereld en hun omgeving en stukje mooier te maken.
                <br /><br />

                Onze klanten kunnen veel meer doen in minder tijd, doordat zij
                Microsoft 365<br />slim en veilig inrichten en gebruiken. Daar
                helpen wij ze bij, door technologie<br />in te zetten om hun
                doelen te bereiken.
              </p>
            </div>
            <div class="col-md-5">
              <iframe
                width="450"
                height="250"
                src="https://www.youtube.com/embed/Z2H6Dj9rEsc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-12">
              <div class="pink-btn text-center mt-5">
                <a href="/contact/">NEEM CONTACT OP</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Our mission Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <div class="testimonials-slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    KbWorks implemented Microsoft Teams in our European non-
                    profit organisation in 2 phases. The training and
                    implementation was highly professional and speedy, within
                    the budget and timelines. We shall continue working with
                    KbWorks in 2021
                  </p>
                  <h3>Simon Khosla</h3>
                  <h4>Bestuursvoorzitter bij SMA Europe</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    KbWorks is the partner for Sharepoint, Teams - Very
                    professional and pragmatic
                  </p>
                  <h3>Niels Schoon</h3>
                  <h4>CTO bij Walraven</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    KbWorks did an excellent job in getting us (Tony's
                    Chocolonely) up to speed with our transition from Skype for
                    Business towards Microsoft Teams. KbWorks has in depth
                    knowledge in all the options and settings of Teams and
                    advised us on how to set up the team structure
                  </p>
                  <h3>Rick van Doorn</h3>
                  <h4>Voormalig CTO bij Tony's Chocolonely</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    KbWorks heeft ons uitstekend geholpen met de opzet en
                    begeleiding van online-klantsessies via Teams. Wij hebben
                    van onze klanten positieve feedback gekregen op de inhoud
                    (gelukkig maar ;-)), maar ook op de opzet en professionele
                    aanpak. Aanbevolen!
                  </p>
                  <h3>Peter Kroon</h3>
                  <h4>Customer service & ICT bij Retail Solutions</h4>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
