<!DOCTYPE html>
<html lang="en">
  <!-- ======= Head ======= -->
  {{ partial "head.html" . }}
  <!-- End Head -->

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}

    <!-- ======= Hero Section ======= -->
    <section
      id="hero-inner"
      style="background-image: url(/assets/img/hero-kennis.jpg)"
      class="d-flex justify-content-center align-items-center"
    >
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="row justify-content-center">
          <div class="col-md-9">
            <h2>GA VOOR MÉÉR TIJD, PLEZIER EN WINST</h2>
            <p>Met Teams, SharePoint en Microsoft 365</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= voor-jou Section ======= -->
      <section class="voor-jou">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-md-12 content">
              <img
                src="/assets/img/website-visuals-1.png"
                class="img-fluid"
                alt=""
              />
              <div>
                <h2>Voor jou als CEO, CTO, HR, Communicatie & IT</h2>
                <h5>
                  Inspiratie voor een veilige, beheersbare en efficiënte
                  werkomgeving
                </h5>
              </div>
            </div>
          </div>
          <div class="row align-items-center mt-5">
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/GRk3TzjwXuI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/e-Qf47x4knk"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/b02d6VyFOho"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <p class="text-center mt-5">
              Meer video’s vind je op ons
              <a
                href="https://www.youtube.com/channel/UCN6yDHcs3tCIHOXBmCcaR5g"
                target="_blank"
                >YouTube kanaal.</a
              >
            </p>
          </div>
        </div>
      </section>
      <!-- End voor-jou Section -->

      <!-- ======= voor-jou Section ======= -->
      <section class="voor-jou">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-md-12 content">
              <img
                src="/assets/img/website-visuals-2.png"
                class="img-fluid"
                alt=""
              />
              <div>
                <h2>Voor jou als gebruiker van Microsoft 365</h2>
                <h5>Werk efficiënter samen</h5>
              </div>
            </div>
          </div>
          <div class="row align-items-center mt-5">
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/kBocHyPkUzI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/5k7x4IE_H6w"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/LQqSO9J4VF4"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4 mt-3">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/PhVE5pZvJQY"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4 mt-3">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/TOZc1cFCyNw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4 mt-3">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/_LB8OXKXkm8"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <p class="text-center mt-5">
              Meer video’s vind je op ons
              <a
                href="https://www.youtube.com/channel/UCN6yDHcs3tCIHOXBmCcaR5g"
                target="_blank"
                >YouTube kanaal.</a
              >
            </p>
          </div>
        </div>
      </section>
      <!-- End voor-jou Section -->

      <!-- ======= voor-jou Section ======= -->
      <section class="voor-jou">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-md-12 content">
              <img
                src="/assets/img/website-visuals-1-1.png"
                class="img-fluid"
                alt=""
              />
              <div>
                <h2>Voor jou als IT manager of IT specialist</h2>
                <h5>Laat IT vóór je werken</h5>
              </div>
            </div>
          </div>
          <div class="row align-items-center mt-5">
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/ccvvQtxllHc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/iN4zHbW_8vg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md-4">
              <iframe
                width="100%"
                height="250"
                src="https://www.youtube.com/embed/c53_s7gF7Ko"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <p class="text-center mt-5">
              Doe mee met de KbLive en stel je vraag direct aan Paul! <br />
              Houd de KbSocials in de gaten voor de aankondingen.<br />
              Of bekijk de video op een later tijdstip via ons
              <a
                href="https://www.youtube.com/channel/UCN6yDHcs3tCIHOXBmCcaR5g"
                target="_blank"
              >
                YouTube kanaal.</a
              >
            </p>
          </div>
        </div>
      </section>
      <!-- End voor-jou Section -->

      <!-- ======= liever Section ======= -->
      <section class="liever">
        <div class="container" data-aos="fade-up">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-9">
              <h2 class="text-center">Onze aanpak</h2>
              <h5 class="text-center">The Roadtrip</h5>
            </div>
          </div>
          <div class="row mt-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/assets/img/blog-banner-1024x576.png"
                  alt="Card image cap"
                />
                <p class="badge">MANAGEMENT</p>
                <div class="card-body">
                  <img src="/assets/img/author.jpeg" alt="author" />
                  <p class="card-text">
                    NIEUW: dit wil je ook weten over breakout rooms!
                  </p>
                  <div class="btn mb-3">
                    <a
                      href="/microsoftteams/dit-wil-je-ook-weten-over-breakout-roomsbreakout-updates/"
                      >LEES VERDER
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/assets/img/teams-docs-standaard-openen-in-Word-op-je-PC-1024x576.png"
                  alt="Card image cap"
                />
                <p class="badge">MICROSOFT 365</p>
                <div class="card-body">
                  <img src="/assets/img/author.jpeg" alt="author" />
                  <p class="card-text">
                    Microsoft Teams bestanden standaard openen in Word op je pc
                  </p>
                  <div class="btn mb-3">
                    <a
                      href="/office365/microsoft-teams-bestanden-standaard-openen-in-word-op-je-pc/"
                      >LEES VERDER
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/assets/img/teams-public-preview-1024x576.png"
                  alt="Card image cap"
                />
                <p class="badge">GOVERNANCE</p>
                <div class="card-body">
                  <img src="/assets/img/author.jpeg" alt="author" />
                  <p class="card-text">Microsoft Teams Public Preview</p>
                  <div class="btn mb-3">
                    <a href="/office365/microsoft-teams-public-preview/"
                      >LEES VERDER
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-5">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/assets/img/Blog-banner-1024x576-2.png"
                  alt="Card image cap"
                />
                <p class="badge">MICROSOFT 365</p>
                <div class="card-body">
                  <img src="/assets/img/author.jpeg" alt="author" />
                  <p class="card-text">
                    Verlenging van de Microsoft MVP award voor Paul en Debby
                  </p>
                  <div class="btn mb-3">
                    <a
                      href="/nieuws/verlenging-van-de-microsoft-mvp-award-voor-paul-en-debby/"
                      >LEES VERDER
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-5">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/assets/img/Asynchroon-en-hybride-samenwerken-1024x576.png"
                  alt="Card image cap"
                />
                <p class="badge">MICROSOFT 365</p>
                <div class="card-body">
                  <img src="/assets/img/author-2.png" alt="author" />
                  <p class="card-text">
                    Asynchroon en hybride samenwerken, hoe doe je dat? – Door
                    Amarens van Meerlo
                  </p>
                  <div class="btn mb-3">
                    <a
                      href="/office365/asynchroon-en-hybride-samenwerken-hoe-doe-je-dat/"
                      >LEES VERDER
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-5">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/assets/img/Webinar-functionaliteit-in-Microsoft-Teams.png"
                  alt="Card image cap"
                />
                <p class="badge">MICROSOFT 365</p>
                <div class="card-body">
                  <img src="/assets/img/author.jpeg" alt="author" />
                  <p class="card-text">
                    Wat is de webinar functionaliteit in Microsoft Teams
                  </p>
                  <div class="btn mb-3">
                    <a
                      href="/microsoftteams/wat-is-de-webinar-functionaliteit-in-microsoft-teams/"
                      >LEES VERDER
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="pink-btn text-center mt-5">
              <a href="/blog/">BEKIJK ONS AANBOD</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End liever Section -->

      <!-- ======= podcast Section ======= -->
      <section class="client">
        <div class="container" data-aos="fade-up">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-9 mb-3">
              <h2 class="text-center">Wil je meer zien, horen of lezen?</h2>
              <h5 class="text-center">
                Bekijk, luister of lees dan meer via de KbSocials
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <a
                href="https://www.youtube.com/channel/UCN6yDHcs3tCIHOXBmCcaR5g?view_as=subscriber"
                ><img src="/assets/img/Typeform-2.png" alt="" class="img-fluid"
              /></a>
            </div>
            <div class="col-md-4">
              <a href="/podcast/de-kbworks-podcast/"
                ><img
                  src="/assets/img/Ontwerp-zonder-titel-8.png"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
            <div class="col-md-4">
              <a href="/blog/"
                ><img
                  src="/assets/img/Typeform-fotos-website-2.png"
                  alt=""
                  class="img-fluid"
              /></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End podcast Section -->

      <!-- ======= podcast Section ======= -->
      <section class="client">
        <div class="container" data-aos="fade-up">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-9 mb-3">
              <h2 class="text-center">Wil je meer zien, horen of lezen?</h2>
              <h5 class="text-center">
                Bekijk, luister of lees dan meer via de KbSocials
              </h5>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-9 mt-5 d-flex justify-content-center">
              <!--Embed Code Start-->
              <div
                class="youtube"
                id="UyxDukL6mbM"
                src="/assets/img/thumbnail.jpg"
                style="width: 100%; height: 400px"
              ></div>
              <script
                type="text/javascript"
                src="https://codegena.com/assets/js/youtube-embed.js"
              ></script>
              <!--Embed Code End-->
            </div>
          </div>
        </div>
      </section>
      <!-- End podcast Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
