<!DOCTYPE html>
<html lang="en">
  <!-- ======= Head ======= -->
  {{ partial "head.html" . }}
  <!-- End Head -->

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header-2.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section
      id="hero2"
      class="d-flex align-items-center justify-content-center"
    >
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9 text-center">
            <h1>DAT WIL JE NIET MISSEN</h1>
            <h2>Onze artikelen over Microsoft Teams en Microsoft 365</h2>
            <div class="wrap mt-5">
              <div class="search mt-5">
                <input
                  type="text"
                  class="searchTerm"
                  placeholder="What are you looking for?"
                />
                <button type="submit" class="searchButton">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= blog Section ======= -->
      <section class="blog-section">
        <div class="container" data-aos="fade-up">
          <div class="row">
            {{ range .Pages }}
            <div
              class="col-md-4 pt-4 pt-lg-0 content d-flex align-items-stretch mt-4"
            >
              <div class="card">
                <img
                  class="card-img-top"
                  src="{{ with .Params.image }}{{ . }}{{ end }}"
                  alt="Card image cap"
                />
                <div class="badge">
                  <p>{{ with .Params.category }}{{ . }}{{ end }}</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{.Title}}</h5>
                  <a href="{{ .Permalink }}" class="btn btn-primary mt-3"
                    >Read More <i class="bi bi-arrow-right-short"></i
                  ></a>
                  <div class="card-author mt-4">
                    <img
                      src="{{ with .Params.author_image }}{{ . }}{{ end }}"
                      alt="Author"
                    />
                    <h5>
                      By: <br />
                      <span>{{ with .Params.author }}{{ . }}{{ end }}</span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </section>
      <!-- End Blog Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
