<!DOCTYPE html>
<html lang="en">
  <!-- ======= Head ======= -->
  {{ partial "head.html" . }}
  <!-- End Head -->

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}

    <!-- ======= Hero Section ======= -->
    <section
      id="hero-inner"
      class="d-flex justify-content-center align-items-center"
    >
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="row justify-content-center">
          <div class="col-md-9">
            <h2>OVER KBWORKS</h2>
            <p>Onze Missie, Wie zijn wij en de KbHangplek</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Zekerheid Section ======= -->
      <section class="zekerheid">
        <div class="container" data-aos="fade-up">
          <div
            class="row align-items-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-7">
              <h4><span>Onze Missie</span></h4>
              <h2 class="mb-5"><span>Meer tijd voor plezier</span></h2>
              <p>
                Tijd is waardevol. Daarom gaan wij voor 20% tijdbesparing. Door
                technologie slim in te zetten én te gebruiken is dat precies wat
                je krijgt. <br /><br />

                Wij zien technologie als middel en de business als doel.<br />
                Efficiëntie. Blije medewerkers. En meer winst. <br /><br />

                We werken met missievolle (internationale) organisaties die
                impact willen maken om de wereld en hun omgeving en stukje
                mooier te maken.<br /><br />

                Onze klanten kunnen veel meer doen in minder tijd, doordat zij
                Microsoft 365 slim en veilig inrichten en gebruiken. Daar helpen
                wij ze bij, door technologie in te zetten om hun doelen te
                bereiken.
              </p>
            </div>
            <div class="col-md-5">
              <iframe
                width="469"
                height="263"
                src="https://www.youtube.com/embed/Z2H6Dj9rEsc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- End Zekerheid Section -->

      <!-- ======= De Roadtrip Section ======= -->
      <section class="de-roadmap">
        <div class="container" data-aos="fade-up">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-9">
              <h2 class="text-center">Onze geschiedenis</h2>
              <h5 class="text-center mb-4">En wie zijn wij vandaag</h5>
              <p class="text-center">
                KbWorks. Waar staat dat eigenlijk voor? Het begon allemaal toen
                Paul Keijzers (tevens de oprichter) flink wat uren doorbracht op
                het internet onder de naam “Kiteboardertje” (Kb). Niet zomaar
                een naam, want kitesurfen is de grote passie van Paul. Toen hij
                klaar was met studeren en zijn uren op het internet ging
                verruilen in werken, veranderde het in “KbWorks”. Kb’tje ging
                werken 😉 <br /><br />

                In 2007 besloot Paul om te ondernemen en werd KbWorks zijn
                handelsnaam. Nu is KbWorks een begrip in de IT wereld en op
                social media. Al jarenlang worden er allerlei blogs, video’s en
                updates gedeeld. Op dit moment delen we allerlei zaken over het
                gebruik en de inzet van Teams, SharePoint en Microsoft 365.
                <br /><br />

                Momenteel werkt KbWorks met o.a. een enthousiaste club van
                freelancers met allemaal hun eigen expertise rondom de Microsoft
                365 suite. <br /><br />

                <strong>Wil je meer weten?</strong> <br />
                Of wil je op de hoogte blijven van alles rondom Microsoft 365?
                <br />
                Volg KbWorks dan via
                <a href="https://www.linkedin.com/company/kbworks">LinkedIn</a>,
                <a href="">Twitter</a>,<a
                  href="https://www.youtube.com/channel/UCN6yDHcs3tCIHOXBmCcaR5g"
                  >YouTube
                </a>
                of de blog pagina op onze website.
              </p>
            </div>
          </div>
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-md-7 mt-5 onze">
              <h2 class="text-center">Onze Hangplek</h2>
              <h5 class="text-center mb-3">
                Kom eens langs bij ons in de suikersilo!
              </h5>
              <img
                src="/assets/img/KbWorks-kantoor-suikersilo.png"
                alt=""
                class="img-fluid mt-4"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End De Roadtrip Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
