<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Waarom?</h3>
          <p>
            Omdat tijd niet te koop is. <br /><br />

            Onze Missie: Meer tijd voor plezier<br /><br />

            Onze Visie: Meer vrolijkheid, gezondheid & zingeving
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h3>KbServices</h3>
          <p>
            <a href="/aanbod/">Ons aanbod</a><br /><br />
            Laat ons weten hoe we het doen door een
            <a
              href="https://www.google.nl/search?source=hp&ei=knVAXMOOEYjTwAL0o5OgBQ&q=kbworks&oq=&gs_l=psy-ab.1.0.35i39l6.0.0..9257...2.0..0.321.321.3-1......0......gws-wiz.....6.RWYHi0cbz4A#lrd=0x47c5e46674df14a7:0x631cbe52d1813044,3"
              >Google-review</a
            >
            te schijven
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h3>KbSocials</h3>
          <ul>
            <li>
              <a href="https://www.linkedin.com/company/kbworks" target="_blank"
                ><i class="bx bxl-linkedin"></i> Linkedin</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCN6yDHcs3tCIHOXBmCcaR5g?sub_confirmation=1"
                target="_blank"
                ><i class="bx bxl-youtube"></i> Youtube</a
              >
            </li>
            <li>
              <a href="https://twitter.com/kbworks" target="_blank"
                ><i class="bx bxl-twitter"></i> Twitter</a
              >
            </li>
            <li>
              <a
                href="https://podcasts.apple.com/nl/podcast/de-kbworks-podcast/id1494639563"
                target="_blank"
                ><i class="bx bx-podcast"></i> Podcast</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h3>KbWorks</h3>
          <p>
            E-mail: office@kbworks.nl <br />
            Telefoon: 020-2994747 <br /><br />

            KbWorks <br />
            SuikerSilo-Oost 39 <br />
            1165 MS Halfweg
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4 align-items-end footer-btm">
    <div class="me-md-auto text-center text-md-start">
      <p>Your company goes KbWorks proof!</p>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <img src="/assets/img/microsoft-partner.png" alt="" class="img-fluid" />
      <p class="text-end">
        Development by
        <a href="https://www.sualsoft.com/">S U A L SOFT</a>
      </p>
    </div>
  </div>
</footer>
